/* 表示開始 */
.overlay_styles-enter-active {
  opacity: 0;
}
/* 表示完了 */
.overlay_styles-enter-done {
  opacity: 1;
  transition: opacity 400ms;
}
/* 非表示完了  */
.overlay_styles-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

/* 表示開始 */
.overlay_styles-enter-active .modal_style {
  transform: scale(0.9);
}
/* 表示完了 */
.overlay_styles-enter-done .modal_style {
  transform: scale(1);
  transition: transform 400ms;
}
/* 非表示完了  */
.overlay_styles-exit-active .modal_style {
  transform: scale(0.9);
  transition: transform 400ms;
}
